@model IEnumerable<OLSoftwareTest.Models.DTO.TiposPruebas>

@{
    ViewData["Title"] = "Tipos de Pruebas";
}

<h3>@ViewData["Title"] </h3>
<br />

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre_tipo_prueba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion_tipo_prueba)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre_tipo_prueba)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion_tipo_prueba)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.id_tipo_prueba" class="btn btn-primary">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.id_tipo_prueba" class="btn btn-info">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.id_tipo_prueba" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>
                    <div>
                        No hay registros para mostrar
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
